.navbar {
    grid-area: nav;
    background-color: yellow;
    padding: 20px;
    border-radius: 15px;
}

.item a {
    color: #d04646;
    font-weight: bold;
    text-decoration: none;
    
}

.item a.activeLink {
    color: #d04646;
    font-weight: bold;
    background-color: #eff1ec;
    text-decoration: none;
}