body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/*Общее для всех стилей*/
.btn {
    font-size: 16px;
    line-height: 24px;
    /*box-sizing: border-box;*/

    width: 150px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: yellow;
}

.btn:hover {
    font-weight: bold;
    opacity: .5;
}
